#!name=vgTime
#!desc=某些APP要清除缓存或者重新安装拦截广告才会生效！
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/rewrite/split/partV/vgTime.snippet
#!tg-group=https://t.me/QuantumultXCommunity
#!date=2025-10-03 10:35:20
#############################################


# App去开屏广告(需全新应用). 若要去新闻列表广告需要搭配广告联盟模块
^https?:\/\/app02\.vgtime\.com:8080\/vgtime-app\/api\/v2\/init\/ad\.json url script-response-body https://raw.githubusercontent.com/app2smile/rules/master/js/vgtime.js

hostname = app02.vgtime.com
