#!name=9to5Mac
#!desc=网页版去广告
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/rewrite/split/part9/9to5Mac.snippet
#!tg-group=https://t.me/QuantumultXCommunity
#!date=
#############################################


host-suffix, ad-delivery.net, reject
host-suffix, spot.im, reject
host-suffix, revjet.com, reject
host-suffix, dotomi.com, reject
host-suffix, intentiq.com, reject
host-suffix, temu.com, reject
host-suffix, adsafeprotected.com, reject
host-suffix, optable.co, reject
host-suffix, stackadapt.com, reject
host-suffix, gumgum.com, reject
host-suffix, kargo.com, reject
host-suffix, a-mo.net, reject
host-suffix, 3lift.com, reject
host-suffix, bidswitch.net, reject
host-suffix, ninthdecimal.com, reject
host-suffix, turn.com, reject
host-suffix, 33across.com, reject
host-suffix, aidemsrv.com, reject
host-suffix, js7k.com, reject
host-suffix, sharethrough.com, reject
host-suffix, 1rx.io, reject
host-suffix, tynt.com, reject
host-suffix, a47b.com, reject
host-suffix, teads.tv, reject
host-suffix, logger.adthrive.com, reject
host-suffix, ads.stickyadstv.com, reject
host-suffix, adnxs.com, reject
host-suffix, presage.io, reject
host-suffix, mradx.net, reject


https:\/\/this-is-an-example\.com\/example\/ url reject-dict


hostname = this-is-an-example.com
