#############################################
# 分流作用：对OpenAI相关服务进行分流
# 重要提示：如果不想新增一个策略组，可以设置策略偏好
# 项目地址：https://raw.githubusercontent.com/fmz200/wool_scripts/main/QuantumultX/filter/OpenAI.snippet
# 交流群组：https://t.me/quguanggao
# 更新时间：2023.02.16 16:26
# 策略选择：选择支持OpenAI的地区
#############################################

host-suffix, ai.com, OpenAI
host-suffix, openai.com, OpenAI
host-suffix, vimeo.com, OpenAI
host-suffix, vimeocdn.com, OpenAI
host-suffix, hcaptcha.com, OpenAI
host-suffix, akamaized.com, OpenAI
host, cdn.auth0.com, OpenAI
host, openaiapi-site.azureedge.net, OpenAI
# host-suffix, googleapis.com, OpenAI
# host-suffix, gstatic.com, OpenAI
# host-suffix, googletagmanager.com, OpenAI
# host-suffix, f7tk.com, OpenAI
# host-suffix, doubleclick.com, OpenAI
# host-suffix, google-analytics.com, OpenAI