#!name=OpenAI分流
#!desc=对OpenAI相关服务进行分流，分流选择支持OpenAI的地区
#!author=fmz200
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/author/NaiSi_01.png
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/filter/OpenAI.snippet
#!tg-group：https://t.me/lanjieguanggao
#!date：2023-11-16 22:38:00
#############################################

host, cdn.auth0.com, OpenAI
HOST, challenges.cloudflare.com,OpenAI
host, openaiapi-site.azureedge.net, OpenAI
host-suffix, ai.com, OpenAI
host-suffix, openai.com, OpenAI
host-suffix, identrust.com, OpenAI
host-suffix, oaistatic.com, OpenAI
host-suffix, oaiusercontent.com, OpenAI

host-suffix, vimeo.com, OpenAI
host-suffix, vimeocdn.com, OpenAI
host-suffix, hcaptcha.com, OpenAI
host-suffix, akamaized.com, OpenAI
