#!name=Soul分流
#!desc=可能需要好几天才能成功更改IP
#!author=fmz200
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/author/NaiSi_01.png
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/filter/Soul.snippet
#!tg-group：https://t.me/lanjieguanggao
#!update：2024-05-09 08:30:00
#############################################

# User-Agent: Soul_New/5.0.0 (iPhone; iOS 17.1; Scale/3.00; CFNetwork; iPhone15,2) SoulBegin-iOS-5.0.0-WIFI-SoulEnd
# 用ua匹配规则生效的额外条件是域名/IP可以MITM并且被MITM（需要在host中添加）
;user-agent, Soul, Soul

;host-keyword, soul, Soul

ip-cidr, 8.210.3.170/32, Soul
ip-cidr, 43.231.145.10/32, Soul
ip-cidr, 47.75.72.47/32, Soul
ip-cidr, 47.96.7.91/32, Soul
ip-cidr, 47.96.11.46/32, Soul
ip-cidr, 47.96.20.45/32, Soul
ip-cidr, 47.98.54.106/32, Soul
ip-cidr, 47.98.137.249/32, Soul
ip-cidr, 47.110.187.87/32, Soul
ip-cidr, 114.215.255.94/32, Soul
ip-cidr, 116.62.47.28/32, Soul
ip-cidr, 116.62.97.84/32, Soul
ip-cidr, 116.62.108.43/32, Soul
ip-cidr, 116.62.247.96/32, Soul
ip-cidr, 118.31.7.235/32, Soul
ip-cidr, 118.31.112.221/32, Soul
ip-cidr, 120.55.55.115/32, Soul
ip-cidr, 120.55.62.124/32, Soul
ip-cidr, 120.26.40.187/32, Soul
ip-cidr, 121.40.189.58/32, Soul
ip-cidr, 121.43.161.107/32, Soul
ip-cidr, 121.196.203.183/32, Soul

ip6-cidr, 2400:3200:1500::70/32, Soul
ip6-cidr, 2400:3200:1500::169/32, Soul
ip6-cidr, 2400:3200:1500::1fb/32, Soul
