#!name=Soul分流
#!desc=经过测试Soul检测IP的域名/IP不在本配置里面，该分流配合QX的final(选择分流到国外)可以实现修改IP，IP会修改为final选择的地区
#!author=fmz200
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/author/NaiSi_01.png
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/filter/Soul.snippet
#!tg-group：https://t.me/lanjieguanggao
#!update：2024-01-20 23:50:00
#############################################

# User-Agent: Soul_New/5.0.0 (iPhone; iOS 17.1; Scale/3.00; CFNetwork; iPhone15,2) SoulBegin-iOS-5.0.0-WIFI-SoulEnd
# 用ua匹配规则生效的额外条件是域名/IP可以MITM并且被MITM（需要在host中添加）
user-agent, Soul, Soul

host-keyword, soul, Soul

ip-cidr, 120.27.235.201/24, Soul
ip-cidr, 47.99.42.29/24, Soul
ip-cidr, 47.97.215.55/24, Soul
ip-cidr, 121.196.197.147/24, Soul
ip-cidr, 121.196.203.183/24, Soul
ip-cidr, 47.96.20.45/24, Soul
ip-cidr, 47.96.7.91/24, Soul
ip-cidr, 118.31.7.235/24, Soul
ip-cidr, 47.96.11.46/24, Soul
ip-cidr, 116.62.97.84/24, Soul
ip-cidr, 116.62.247.96/24, Soul
ip-cidr, 47.98.137.249/24, Soul
ip-cidr, 47.98.54.106/24, Soul
ip-cidr, 118.31.112.221/24, Soul
ip-cidr, 120.55.55.115/24, Soul
ip-cidr, 114.215.255.94/24, Soul
ip-cidr, 120.55.62.124/24, Soul
ip-cidr, 121.40.189.58/24, Soul
ip-cidr, 120.26.40.187/24, Soul
ip-cidr, 121.43.161.107/24, Soul
ip-cidr, 116.62.108.43/24, Soul
ip-cidr, 43.231.145.10/24, Soul
ip-cidr, 47.110.187.87/24, Soul
ip-cidr, 8.210.3.170/32, Soul
ip-cidr, 47.75.72.47/32, Soul
ip-cidr, 116.62.47.28/32, Soul

ip6-cidr, 2400:3200:1500::169/24, Soul
ip6-cidr, 2400:3200:1500::70/24, Soul
ip6-cidr, 2400:3200:1500::1fb/24, Soul
