#!name=Soul APP分流
#!desc=可能需要 评论/点赞/发帖 才会修改IP！
#!author=fmz200
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/author/NaiSi_01.png
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/filter/Soul.snippet
#!tg-group：https://t.me/lanjieguanggao
#!update：2023-11-01 21:38:00
#############################################

host-suffix, soulapp.cn, Soul
host-keyword, soulapp, Soul
user-agent, .*soulapp.*, Soul
user-agent, .*SOUL.*, Soul
user-agent, .*Soul.*, Soul
user-agent, .*soul.*, Soul

ip-cidr, 120.27.235.201/24, Soul
ip-cidr, 47.99.42.29/24, Soul
ip-cidr, 47.97.215.55/24, Soul
ip-cidr, 121.196.197.147/24, Soul
ip-cidr, 121.196.203.183/24, Soul
ip-cidr, 47.96.20.45/24, Soul
ip-cidr, 47.96.7.91/24, Soul
ip-cidr, 118.31.7.235/24, Soul
ip-cidr, 47.96.11.46/24, Soul
ip-cidr, 116.62.97.84/24, Soul
ip-cidr, 116.62.247.96/24, Soul
ip-cidr, 47.98.137.249/24, Soul
ip-cidr, 47.98.54.106/24, Soul
ip-cidr, 118.31.112.221/24, Soul
ip-cidr, 120.55.55.115/24, Soul
ip-cidr, 114.215.255.94/24, Soul
ip-cidr, 120.55.62.124/24, Soul
ip-cidr, 121.40.189.58/24, Soul
ip-cidr, 120.26.40.187/24, Soul
ip-cidr, 121.43.161.107/24, Soul
ip-cidr, 116.62.108.43/24, Soul

ip6-cidr, 2400:3200:1500::169/24, Soul
ip6-cidr, 2400:3200:1500::70/24, Soul
ip6-cidr, 2400:3200:1500::1fb/24, Soul