#!name=人人视频
#!desc=某些APP要清除缓存或者重新安装拦截广告才会生效！
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/rewrite/split/partR/RenRenVideo.snippet
#!tg-group=https://t.me/lanjieguanggao
#!date=2025-08-21 22:37:00
#############################################


host-suffix, ad.rr.tv, reject
host-suffix, ebp.renren.com, reject
host-suffix, jebe.renren.com, reject
host-suffix, bolt.jebe.renren.com, reject
host-suffix, cupid.jebe.renren.com, reject
host-suffix, shaft.jebe.renren.com, reject
host-suffix, xray.jebe.renren.com, reject

# RRTV_level_info
^https?:\/\/api\.rr\.tv\/\w{3}\/level\/info url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_屏蔽軟件更新
^https?:\/\/api\.rr\.tv\/.*?Version url reject
# RRTV_去除首頁廣告
https://api.rr.tv/v3plus/index/channel\?pageNum=1&position=CHANNEL_INDEX url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_去除廣場tab
^https?:\/\/api\.rr\.tv\/app\/config\/h5NativeBar url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_去除商城廣告
^https?:\/\/api\.rr\.tv\/v3plus\/index\/channel\?pageNum=1&position=CHANNEL_MY url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_Ad_List
^https?:\/\/api\.rr\.tv\/user\/privilege\/list url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_Ad_All
^https?:\/\/api\.rr\.tv\/ad\/getAll url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_Get_Drama
^https?:\/\/api\.rr\.tv\/drama\/app\/get_combined_drama_detail url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_Watch_V4
https://api.rr.tv/watch/v4 url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_User_Info
https://api.rr.tv/user/profile url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/rrtv_json.js
# RRTV_屏蔽限時彈窗
https://api.rr.tv/storage/business/rootName/app/homePage\?dataType=JSON url reject-dict

hostname = api.rr.tv
