#!name=广州地铁乘车码
#!desc=某些APP要清除缓存或者重新安装拦截广告才会生效！
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/rewrite/split/partG/GuangzhouMetroQRCode.snippet
#!tg-group=https://t.me/QuantumultXCommunity
#!date=2025-09-24 21:46:46
#############################################


# 多个广告 感谢CtrlMusic🐓分享
host, apis.alenable.com, reject

https:\/\/this-is-an-example\.com\/example\/ url reject-dict

hostname = this-is-an-example.com
