#!name=EMS微信小程序
#!desc=某些APP要清除缓存或者重新安装拦截广告才会生效！
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/rewrite/split/partE/EMS.snippet
#!tg-group=https://t.me/QuantumultXCommunity
#!date=undefined
#############################################


^https?:\/\/ec\.ems\.com\.cn\/mailAd$ url reject
^https?:\/\/ec\.ems\.com\.cn\/ecr-exp-web\/advert url reject
^https?:\/\/ec\.ems\.com\.cn\/ecr-qry-web\/redis\/pageInfoByChannel url script-response-body https://raw.githubusercontent.com/zirawell/R-Store/main/Res/Scripts/AntiAd/wechatApplet.js
^https?:\/\/ump\.ems\.com\.cn\/mailAd$ url reject
^https?:\/\/ump\.ems\.com\.cn\/new-generation-extend\/redis\/pageInfoByChannel url script-response-body https://raw.githubusercontent.com/zirawell/R-Store/main/Res/Scripts/AntiAd/wechatApplet.js

hostname = ec.ems.com.cn, ump.ems.com.cn
