#!name=2345天气王
#!desc=某些APP要清除缓存或者重新安装拦截广告才会生效！
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/rewrite/split/part2/2345WeatherKing.snippet
#!tg-group=https://t.me/QuantumultXCommunity
#!date=2025-10-03 10:35:20
#############################################


# 底下百家号广告 感谢【 🐈‍⬛👮】分享
^http?:\/\/tianqi\.2345\.com\/api\/content\/getContentFeeds\.php url reject-dict

hostname = tianqi.2345.com
