hostname = cat-match.easygame2021.com

# 羊了个羊获取token
https://cat-match.easygame2021.com/sheep/v1/game/user_info url script-request-header https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/sheep/sheepGetToken.js