#!name=小兔充充
#!desc=某些APP要清除缓存或者重新安装拦截广告才会生效！
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/rewrite/split/partX/XiaoTuChongChong.snippet
#!tg-group=https://t.me/lanjieguanggao
#!date=2025-08-21 22:37:00
#############################################


# 小程序净化
^https?:\/\/ad\.xiaotucc\.com\/advert url reject
^https?:\/\/mapi\.xiaotucc\.com\/(mall\/main|main_page\/index\/getActivity) url script-response-body https://raw.githubusercontent.com/fmz200/wool_scripts/main/Scripts/xiaotucc.js

hostname = ad.xiaotucc.com, mapi.xiaotucc.com
