#############################################
# 重写作用：针对部分APP、小程序内的广告和冗余模块进行去除
# 重要提示：某些APP/小程序要清除缓存或者重新安装，拦截才会生效！
# 项目地址：https://raw.githubusercontent.com/fmz200/wool_scripts/main/QuantumultX/rewrite/cleanup.snippet
# 交流群组：https://t.me/quguanggao
# 支持数量：
# 更新时间：2023.04.15 09:00
#############################################
# "reject"        策略返回 HTTP 状态码 404,不附带任何额外内容
# "reject-200"    策略返回 HTTP 状态码 200,不附带任何额外内容
# "reject-img"    策略返回 HTTP 状态码 200,同时附带 1px gif
# "reject-dict"   策略返回 HTTP 状态码 200,同时附带一个空的 JSON 对象
# "reject-array"  策略返回 HTTP 状态码 200,同时附带一个空的 JSON 数组
#############################################
# 常见问题：
# 1️⃣：我知道规则，不知道主机名怎么办？
# ✅：几乎所有的主机名都是从规则中提取出来的，先有的规则再有的主机名
# 举个栗子：12306的一条规则URL👉🏻^https?:\/\/ad\.12306\.cn\/ad\/ser\/getAdList
# 只需要去掉反斜杠：^https?://ad.12306.cn/ad/ser/getAdList
# 不用再说了吧，ad.12306.cn就是想要的主机名
# 2️⃣：有些常用的软件为什么没有去广告配置？
# ✅：如果要利用重写去广告，就需要对请求或响应信息进行解密(MITM)，现在一些软件已经禁止了MITM，所以就无法去广告。
#############################################


# 去重后的hostname，将对以下域名进行MITM（MAN-IN-THE-MIDDLE：中间人攻击）
hostname = webchatapp.fcbox.com, dsp.fcbox.com, supplier-api.imdada.cn, customer-app.sto.cn, sto-customer-app.oss-cn-shanghai.aliyuncs.co, api.hongyibo.com.cn, res.hongyibo.com.cn

# >>>>>>>>>>>>>>> ✅ 0 ✅ <<<<<<<<<<<<<<



# >>>>>>>>>>>>>>> ✅ D ✅ <<<<<<<<<<<<<<
# > 达达快送 微信小程序净化
^https:\/\/supplier-api\.imdada\.cn\/fe\/public\/ad\/spot\?forwardServiceName=growth-activity url reject-dict



# > 丰巢 微信小程序净化
^https:\/\/webchatapp\.fcbox\.com\/fcboxactivityweb\/api\/v2\/clientPage url reject-dict
^https:\/\/dsp\.fcbox\.com url reject-dict



# >>>>>>>>>>>>>>> ✅ H ✅ <<<<<<<<<<<<<<
# > 花小猪打车 微信小程序净化
^https:\/\/api\.hongyibo\.com\.cn url reject-dict
^https:\/\/res\.hongyibo\.com\.cn\/os\/gs\/resapi\/activity url reject-dict



# >>>>>>>>>>>>>>> ✅ S ✅ <<<<<<<<<<<<<<
# > 申通快递 微信小程序净化
^https:\/\/customer-app\.sto\.cn\/api\/app\/banner\/banner url reject-dict
^https:\/\/sto-customer-app\.oss-cn-shanghai\.aliyuncs\.com\/images url reject-dict



