#!name=火猫
#!desc=某些APP要清除缓存或者重新安装拦截广告才会生效！
#!author=奶思
#!homepage=https://github.com/fmz200/wool_scripts
#!icon=https://raw.githubusercontent.com/fmz200/wool_scripts/main/icons/gif/naisi-01.gif
#!raw-url=https://github.com/fmz200/wool_scripts/raw/main/QuantumultX/rewrite/split/partH/HuoMao.snippet
#!tg-group=https://t.me/QuantumultXCommunity
#!date=undefined
#############################################


^https?:\/\/api\.huomao\.com\/channels\/loginAd url reject

hostname = api.huomao.com
